@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --blue : #234B68;
    --blue-active : #29517F;
    --orange : #FF822E;
}

*{
    font-family: "Nunito Sans";
    color: var(--blue);
    margin: 0;
    padding: 0;
}

header{
    margin: 5vh;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    max-width: 75vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

table{
    width: 100%;
    margin: auto;
}

th{
    padding: 10px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

form div div{
    display: flex;
    align-items: center;
}

input{
    width: 230px;
    height: 30px;
    border: 2px solid ;
    border-right: none;
    text-indent: 10px;
}

input:focus{
    outline: none;
}


section , button, input ,input:focus{
    box-shadow: 3px 3px  2px #00000030;
}

td{
    text-align: center;
}

input:valid{
    color: "var(--orange)";
}



.principals_buttons:hover{

background-color: var(--blue-active);

}


#pdfButton{
display: none;
}


#errors{
color: var(--orange);
}


.principals_buttons{
    background-color: var(--blue);
    color: white;
    width: 200px;
    height: 44px;
    border-radius: 10px;
    border: none;
    margin-top: 100px;
    box-shadow: 10px 10px solid;
}

.inputbox::after{
    box-shadow: 3px 3px  2px #00000030;
   color: white;
    width: 50px;
    background-color: var(--blue);
    height :33.2px ;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#repayment_box::after{
    content: 'an(s)'; 
}

#nominal_box::after{
    content: '%'; 
}

#borrowed_box::after{
    content: '€';
}



#submit_button:hover{
    cursor: pointer;
}




#table-container {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
}

#table-container::-webkit-scrollbar {
    width: 10px; 
}



#table-container::-webkit-scrollbar-thumb {
    background-color: var(--blue); 
    border-radius: 15px; 
}



@media screen and (max-width: 760px) {
    
    main{
        max-width: 85vw;
        margin-top: 1vh;
    }

    header{
        display: none;
    }

   
    form div{
        grid-template-columns: 1fr;
      
    }
    form div p {
        text-align: center;
    }

    section{
        max-width: 50%;
    }

    input{
        width: 190px;
    }
    }

    @media screen and (max-width: 420px){

        input{
            width: 160px;
        }

       
    }